:root {
    --content-width:1280px;
    --main-color:#461295;
    --sub-color:#f5b93b;
}
@font-face {
    font-family: 'SUITE-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

* { outline: none !important; }
body { font-family: 'SUITE-Regular'; }
div { box-sizing:border-box !important;}
textarea { resize:none !important; }
a,button { cursor: pointer !important; }
main { position:relative;vertical-align: top;min-height: 70vh;z-index:1; }
footer { width: var(--content-width);margin:35px auto; }
footer a { font-size:0.85rem; }
footer .info { margin-top:10px; }
ul.info li { font-size:0.75rem;color:#999; }
header .logo { max-width: 200px;height:auto;margin:0 3rem 0 0; }
header nav { padding:5px 0 0 0; }
header .header-icons { padding:0 !important; }
header .header-icons button { width:45px;height:45px;overflow: hidden;vertical-align: bottom; }
header .header-icons button img { padding:0;margin:0;width:100%;height: auto; }
header .login-box button { font-size:0.85rem; }
header .login-box div { font-size:0.85rem; }
header input[type=search] { font-size:0.85rem; }
.cursor { cursor: pointer !important; }

.text-main { color:var(--main-color) !important; }
.text-sub { color:var(--sub-color) !important; }
.bg-main { background-color:var(--main-color) !important; }
.bg-sub { background-color:var(--sub-color) !important; }

.w-180px { width:180px; }
.bottom-logo img { filter: grayscale(100%);height:auto;margin:10px auto; }

.dash-top { border-top:1px dashed #DDD; }
.social-links { display: flex;justify-content: center;margin-top: 30px; }
.social-link { margin: 0 10px; }
.social-link i { font-size: 24px; color:var(--main-color); }

.contentBox .title { border-radius: 20px; }
.profile { overflow:hidden;border:1px solid #999; }
.profile img { width:120%;max-width:120% !important;height:auto;margin-left:-10%; }

.banner-box-home-top { width:100%;height:120px;background-color:#EFEFEF; }

.categoryBox { border:1px solid #CECECE;padding:2px 5px;border-radius: 6px;background-color:var(--sub-color);color:#FFF; }
.paging { position:relative;margin:0 auto; }
.paging li:first-child button { border-top-left-radius:5px;border-bottom-left-radius:5px; }
.paging li:last-child button { border-top-right-radius:5px;border-bottom-right-radius:5px; }

.box { position: relative;box-sizing: border-box !important;width:100%;padding:1%;height:auto;min-height: 100px;background-color:#EFEFEF; }

.wrap { width:100%;overflow:hidden;min-height: 100vh;background-color:#EFEFEF; }
.wrap .logo { max-width: 250px;height:auto;margin:0 auto; }


.context-menu { width:220px; }
.context-menu .alarm { font-size:0.7rem;padding:16px 8px;border-top:1px dashed #CBCBCB; }
.context-menu .alarm:first-child { border:none;padding-top:8px; }
.context-menu .alarm:last-child { padding-bottom:8px; }
.context-menu button { width:170px !important;margin-left:17px;font-size:0.8rem; }
.context-menu button i { font-size:0.7rem;color:#666; }

.content-detail .content-detail-body img { max-width:100%; }
.content-detail-profile img { max-width:200% !important; }
.content-detail-profile { width:35px;height:35px;background-color:#EFEFEF;border:1px solid #999;border-radius: 50%;overflow:hidden; }
.content-detail-profile img { width:120% !important;height:auto !important; }

.content-info { font-size:0.7rem; }
.content-info i { font-size:0.6rem;color:#666; }
.content-info span { font-size:0.6rem;color:#999; }

button.thumbup { width:60px;height:60px;text-align: center;font-size:1.5rem;border-radius: 50%;color:#FFF; }

.image-box { width:100%;overflow: hidden;cursor:pointer;vertical-align: top;box-sizing: border-box;border:5px solid #FFF; }
.image-box img { width:100%;height:auto; }
.img-line { width:100%;box-sizing: border-box;border:1px solid #DDD; }

.content-subject { width:calc(100% - 60px);box-sizing: border-box; }
.content-subject-label { width:60px; text-align: center; }

.comments {
    position:relative;
    width:98%;
    box-sizing: border-box;
    padding:1%;
}

.comment-container {
margin-bottom: 20px;
}

.comment-header {
    display: flex;
    align-items: center;
    gap: 10px;
}

.user-profile {
    width:30px;
    height:30px;
    overflow:hidden;
    border-radius: 50%;
}

.user-profile img, .user-profile i {
    width: 126%;
    height: auto;
    font-size:1.2rem;
    text-align:center;
    border-radius: 50%;
    margin:5px 0 0 -10%;
}

.timestamp {
    margin-left: auto;
}

.comment-content {
    margin-top: 10px;
}

.comment-actions {
    display: flex;
    align-items: center;
    gap: 10px;
}

.comment-divider {
    border-top: 1px dashed #ccc;
    margin-top: 10px;
    margin-bottom: 10px;
}

.c-left { box-sizing: border-box; width:30px; }
.c-right { box-sizing: border-box; width:calc(100% - 30px);margin-left:10px; }

.top-profile img { width:120% !important;max-width: 120%;margin-left:-5% !important; }

.w10 { width:10%; }
.w20 { width:20%; }
.w30 { width:30%; }
.w40 { width:40%; }
.w50 { width:50%; }
.w60 { width:60%; }
.w70 { width:70%; }
.w80 { width:80%; }
.w90 { width:90%; }
.text-mini { font-size:0.7rem; }

.mt70 { margin-top:70px !important; }
.mt80 { margin-top:80px !important; }
.mt90 { margin-top:90px !important; }
.mt100 { margin-top:100px !important; }
.mt220 { margin-top:220px !important; }
.mt230 { margin-top:230px !important; }

/* 1280px 이상인 경우 */
@media (min-width: 1280px) {
    header,main,footer {
        width:var(--content-width) !important;
        margin:0 auto;
        box-sizing: border-box;
    }

    .regist { width:600px;margin:50px auto; }
    .login { width:480px;margin:80px auto; }
    .over-text { margin:-30px auto;background-color:#FFF;width:160px;text-align: center; }
    .notify-window { margin-left:-100px;width:250px; }
    .mypage-window { margin-left:-100px;width:180px; }
    .paging button { font-size:1rem; }
}

/* 768px 이상인 경우 */
@media (min-width: 768px) and (max-width: 1279px)  {
    header,main,footer {
        width:100% !important;
        margin:0 auto;
        box-sizing: border-box;
    }

    .regist { width:90%;margin:30px auto; }
    .login { width:90%;margin:30px auto; }
    .over-text { margin:-30px auto;background-color:#FFF;width:160px;text-align: center; }
    .notify-window { margin-left:-100px;width:250px; }
    .mypage-window { margin-left:-100px;width:180px; }
    .paging button { font-size:1rem; }
}

/* 768px 미만인 경우 */
@media (max-width: 767px) {
    header,main,footer {
        width:100% !important;
        box-sizing: border-box;
    }

    .regist { width:90%;margin:30px auto; }
    .login { width:90%;margin:30px auto; }
    .over-text { margin:-22px auto;background-color:#FFF;width:160px;text-align: center; }
    .notify-window { right:0;width:95vw; }
    .mypage-window { right:0;width:95vw; }
    .paging button { font-size:0.7rem; }
}

/* skin */
.christmas-effect {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 9999;
}

.snowflake {
  width: 10px;
  height: 10px;
  background-color: #CECECE;
  border-radius: 50%;
  position: absolute;
  z-index:99999999;
}