.rounded-full { border-radius: 50%;overflow:hidden; }
.rounded-full img { object-fit: cover;margin-top:-5px; }
.logo-dark.rounded-full { border:1px solid #000; }
.logo-light.rounded-full { border:1px solid #FFF; }
.logo-dark.logo-text { color:#000;margin-left:5px; }
.logo-light.logo-text { color:#FFF;margin-left:5px ; }
.logo { display:flex; }